<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
  <script>
    function checkPasswordMatch() {
       var email = document.getElementById("email").value;
       var confirmEmail = document.getElementById("confirmEmail").value;
   
       if (email != confirmEmail)
         document.getElementById("passwordMatchInfo").innerHTML = "Passwords do not match!";
      else
         document.getElementById("passwordMatchInfo").innerHTML = "";
     }

     function mergeTelFields() {
      // 各telフィールドの値を取得
      var tel1Value = document.getElementById('tel1').value;
      var tel2Value = document.getElementById('tel2').value;
      var tel3Value = document.getElementById('tel3').value;

      // 1つのtelに値を結合してセット
      var mergedTelValue = tel1Value + tel2Value + tel3Value;
      document.getElementById('tel').value = mergedTelValue;
    }
   </script>

<head>
  <title>お見積り情報入力</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" th:href="@{http://fonts.googleapis.com/css?family=Exo:900}"
        href="http://fonts.googleapis.com/css?family=Exo:900"/>
  <link rel="stylesheet" th:href="@{/css/main.css}" href="../static/css/main.css">
</head>

<body>
<nav th:insert="header.html :: header"></nav>
<div class="container">
  <form th:action="@{/submit}" th:object="${userOrderForm}" class="form-horizontal" method="post">
    <div class="progress-icon">
      <img src="../img/progress_input.svg" />
    </div>
    <div class="page-title">
      お見積り情報入力
    </div>
    <ul th:if="${#fields.hasErrors('all')}">
      <li th:each="err : ${#fields.errors('all')}" th:text="${err}"></li>
    </ul>
    <div class="col-sm-12">
      <fieldset>
        <div class="sub-title">お客様情報</div>
        <div class="form-group">
          <label for="customerName">氏名</label>
          <input type="text" id="customerName" name="customerName" th:field="*{customerName}" class="form-control" value="山田太郎"/>
        </div>
        <div class="form-group">

          <label for="tel">連絡先TEL<半角数字></label></br>
          <input type="tel" id="tel1" name="tel1"  class="form-tel" value=""/>
          ー<input type="tel" id="tel2" name="tel2"  class="form-tel" value=""/>
          ー<input type="tel" id="tel3" name="tel3"  class="form-tel" value=""/>

          <input type="hidden" id="tel" name="tel" th:field="*{tel}"value=""/>

        </div>
        <div class="form-group">
          <label for="email">連絡先メールアドレス</label>
          <input type="text" id="email" name="email" th:field="*{email}" class="form-control" value="test@test.com"/>
          
        </div>

        <div class="form-group">
          <label for="email">メールアドレス確認</label>
         <!-- <input type="text" id="confirmEmail" name="confirmEmail" th:field="*{email}" class="form-control" value="test@test.com"/> -->
          <input type="text" id="confirmEmail" name="confirmEmail"  class="form-control"  onkeyup="checkPasswordMatch();"/>
        </div>

        <div id="passwordMatchInfo"></div>

        <div class="sub-title">集荷元・お届け先</div>
        <div class="form-group">
          <label for="oldPrefectureId">集荷元住所（都道府県）</label>
          <select id="oldPrefectureId" name="oldPrefectureId" class="form-control">
            <option th:each="prefecture : ${prefectures}" th:value="${prefecture.prefectureId}" th:field="*{oldPrefectureId}">[[${prefecture.prefectureName}]]</option>
          </select>
        </div>
        <div class="form-group">
          <label for="oldAddress">集荷元住所（市区町村以下）</label>
          <input type="text" id="oldAddress" name="oldAddress" th:field="*{oldAddress}"
                 class="form-control" value="新宿区西新宿1-1-1"/>
        </div>
        <div class="form-group">
          <label for="newPrefectureId">お届け先住所（都道府県）</label>
          <select id="newPrefectureId" name="newPrefectureId" class="form-control">
            
            <option th:each="prefecture : ${prefectures}" th:value="${prefecture.prefectureId}" th:field="*{newPrefectureId}">[[${prefecture.prefectureName}]]</option>
          </select>
        </div>
        <div class="form-group">
          <label for="newAddress">お届け先住所（市区町村以下）</label>
          <input type="text" id="newAddress" name="newAddress" th:field="*{newAddress}" class="form-control"
                 value="札幌市南区1"/>
        </div>
      </fieldset>

    <fieldset>
      <div class="sub-title">引越し日</div>
      <div class="form-group">
        
         <!-- <select th:each="i : ${#numbers.sequence(2024,2034)} id="box" name="box" c lass="form-control" value="10"></select> -->
         <select id="year" name="year" class="form-day">
          <option   class="form-control" th:each="i : ${#numbers.sequence(2024,2034,1)}" th:value="${i}" th:field="*{year}" >[[${i}]]</option>

        </select>
        <label for="year">年</label>

        <!-- id="month" name="month" -->
      
       <!-- <select th:each="i : ${#numbers.sequence(1,12)} id="box" name="box" c lass="form-control" value="10"></select> -->
       <select   class="form-day">
        <option  class="form-control" th:each="i : ${#numbers.sequence(1,12,1)}" th:value="${i}" th:field="*{month}" >[[${i}]]</option>

      </select>  
      <label for="month">月</label>

      
   <!-- <select th:each="i : ${#numbers.sequence(1,31)} id="box" name="box" c lass="form-control" value="10"></select> -->
   <select class="form-day"id="day" name="day">
    <option   class="form-control" th:each="i : ${#numbers.sequence(1,31,1)}" th:value="${i}"th:field="*{day}"  >[[${i}]]</option>

  </select>
  <label for="day">日</label>

</fieldset>

      <fieldset>
      <div class="sub-title">お荷物情報</div>
        <div class="form-group">
          <label for="box">段ボールの個数</label>
          
          <!-- <select th:each="i : ${#numbers.sequence(0,99)} id="box" name="box" class="form-control" value="10"></select> -->
          <select id="box" name="box" class="form-control">
            <option class="form-control" th:each="i : ${#numbers.sequence(0,99,1)}" th:value="${i}" th:field="*{box}" >[[${i}]]</option>
           </select>
        </div>
        <div class="form-group">
          <label for="bed">ベッドの個数</label>
          <!-- <input type="text" id="bed" name="bed" th:field="*{bed}" class="form-control" value="3"/> -->
          
          <select id="bed" name="bed"  class="form-control">
            <option class="form-control" th:each="i : ${#numbers.sequence(0,99,1)}" th:value="${i}" th:field="*{box}" >[[${i}]]</option>
           </select>
           
        </div>
        <div class="form-group">
          <label for="bicycle">自転車の個数</label>
          <!-- <input type="text" id="bicycle" name="bicycle" th:field="*{bicycle}" class="form-control" value="1"/> -->

          <select id="bicycle" name="bicycle" class="form-control">
            <option class="form-control" th:each="i : ${#numbers.sequence(0,99,1)}" th:value="${i}" th:field="*{box}" >[[${i}]]</option>
           </select>
          
        </div>
        <div class="form-group">
          <label for="washingMachine">洗濯機の個数</label>
          <!-- <input type="text" id="washingMachine" name="washingMachine" th:field="*{washingMachine}" class="form-control"
                 value="1"/> -->
                 
                 
                <select id="washingMachine" name="washingMachine"class="form-control">
                  <option class="form-control" th:each="i : ${#numbers.sequence(0,99,1)}" th:value="${i}" th:field="*{box}" >[[${i}]]</option>
                 </select>
        </div>
        <div class="form-group">
          <label for="washingMachineInstallation">洗濯機の設置工事申し込み</label>
          <select id="washingMachineInstallation" name="washingMachineInstallation" class="form-control" th:field="*{washingMachineInstallation}">
            <option th:value="false" th:text="なし">なし</option>
            <option th:value="true" th:text="あり">あり</option>
          </select>
        </div>
      </fieldset>
      <div class="form-group">
        <div class="text-center">
          <button type="submit" name="backToTop" class="btn-back">TOPへ戻る</button>
          <button type="submit" name="confirm" class="btn btn-primary" onclick="mergeTelFields()">ご入力内容の確認へ</button>
        </div>
      </div>
    </div>
  </form>
</div>
<script src="../js/jquery-3.5.1.min.js" th:src="@{/js/jquery-3.5.1.min.js}"></script>
<script src="../js/popper.min.js" th:src="@{/js/popper.min.js}"></script>
<script src="../js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
</body>

</html>